# ---> Python Basics Chatbot <--- 

#Taking input from user
name = input("Enter your name: ")
print("Hey " + name + "!")
user_input = input("How are you: ")
if user_input == "Fine":
    print("You are fine.")
else:
    print("You are not fine.")
print("Ask what ever you want to ask me from python?")

Questions = (input("Question: "))
if Questions == "What is Python?":
    print("Python is a computer programming language often used to build websites and software,"
          " automate tasks, and analyze data."
          " Python is a general-purpose language, not specialized for any specific problems,"
          " and used to create various programmes")

elif Questions == "What are reserved words in Python?":
    print("and, as, assert, break, class, continue, def, del,"
          " elif, else, except, exec, finally, for, from, global, if,"
          " import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield")

elif Questions == "What is history of Python?":
    print("Python was created by Guido van Rossum, and first released on February 20, 1991.")

elif Questions == "What are operators in Python?":
    print("Operator 	Description     	            Syntax"
          " +	    Addition             :          adds two operands	x + y"
          " –        Subtraction          :         subtracts two operands	x – y "
          " *      	Multiplication       :          multiplies two operands	x * y"
          " /	    Division (float)     :          divides the first operand by the second	x / y"
          " //	    Division (floor)     :          divides the first operand by the second	x // y"
          " %        Modulus              :         returns the remainder when the first operand "
          "                                         is divided by the second	x % y"
          " **	    Power                :          Returns first raised to power second	"
          "                                         x ** yOperator	Description	Syntax"
          " +	    Addition             :          adds two operands	x + y"
          " –	    Subtraction          :          subtracts two operands	x – y"
          " *	    Multiplication       :          multiplies two operands	x * y"
          " /	    Division (float)     :          divides the first operand by the second	x / y"
          " //       Division (floor)     :         divides the first operand by the second	x // y"
          "%         Modulus              :         returns the remainder when the first operand is"
          "                                         divided by the second	x % y"
          "**        Power                :         Returns first raised to power second	x ** y")

elif Questions == "What is comments in Python?":
    print("Comments in Python are the lines in the code that are ignored "
          "by the interpreter during the execution of the program. "
          "Comments enhance the readability of the code and help the programmers"
          "to understand the code very carefully. ")

elif Questions == "What is Algorithm?":
    print("An algorithm is a set of commands that must be followed for a "
          "computer to perform calculations or other problem-solving operations.")

elif Questions == "What is swapping of variables?":
    print("In computer programming, the act of swapping two variables refers "
          "to mutually exchanging the values of the variables. Usually, this is done with the data in memory.")

elif Questions == "Why algorithms are needed?":
    print("Algorithms are used to find the best possible way to solve a problem"
          ", based on data storage, sorting and processing, and machine learning. ")

elif Questions == "What is flowchart?":
    print("A flowchart is a type of diagram that represents an algorithm, workflow or process.")

elif Questions == "What are structures of flowchart?":
    print("There is four basics structures of flowchart--"
          "1.Sequence, 2.Decision, 3.Repetition, 4.Case")

elif Questions == "What is connector?":
    print("Connectors are attributed as flowchart symbols that are utilized"
          " to connect two or more different parts of a flowchart.")

elif Questions == "What is data structure?":
    print("Data structures identifies how data and values are stored in memory.")

elif Questions == "What is numbers?":
    print("Numbers in Python refer to the numeric data types in Python programming.")

elif Questions == "What is string?":
    print("String is a collection of alphabets, words or other characters."
          " It is one of the primitive data structures and are the building blocks for data manipulation.")

elif Questions == "What are data types?":
    print(" A data type is an attribute associated with a piece of data that"
          " tells a computer system how to interpret its value.")

elif Questions == "What is list?":
    print("A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. ")

elif Questions == "What is tuples?":
    print("Tuples are used to store multiple items in a single variable.")

elif Questions == "What is dictionary?":
    print("A dictionary is a kind of data structure that stores items in key-value pairs.")

elif Questions == "What is set?":
    print(" Sets are used to store multiple items in a single variable.")

elif Questions == "What is if statement?":
    print("An if statement is a condition statement used to check a condition, and execute "
          "it if the condition holds true.")

elif Questions == "What is if-else statement?":
    print("The if-else statement is used to execute both the true part and the false part of a given condition.")

elif Questions == "What is sequence?":
    print("In Python, sequence is the generic term for an ordered set."
          " There are several types of sequences in Python, the following three are the most important.")

elif Questions == "What is decision?":
    print("Decision making statements can direct a program to execute on the based of instructions "
          "if a certain condition is True or another if it's False.")

elif Questions == "What is repetition?":
    print("Repetition statements are called loops, and are used "
          "to repeat the same code multiple times in succession.")

elif Questions == "What is case?":
    print("Python Switch Case is a selection control statement. The switch expression is evaluated once.")
